---
### Practise: Pandas

> Практика на кожен день: [LeetCode Pandas](https://leetcode.com/studyplan/30-days-of-pandas/)

In [22]:
# імпорти
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
# вигрузка данних
df = sns.load_dataset("diamonds")

In [5]:
# DO Eda: head, tail, sample, shape, info, describe, check null value, value_counts, unique, nunique

In [6]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [8]:
df.sample(5)

       carat      cut color clarity  depth  table  price     x     y     z
32832   0.32  Premium     F    VVS2   62.2   59.0    806  4.41  4.34  2.72
20184   1.39  Premium     F     SI1   62.1   58.0   8631  7.16  7.10  4.43
50947   0.56    Ideal     G      IF   62.2   54.0   2321  5.30  5.34  3.31
52098   0.70  Premium     G     VS1   58.3   58.0   2459  5.90  5.86  3.43
12671   1.23  Premium     J     VS1   60.1   60.0   5304  6.95  6.90  4.16

In [9]:
df.shape

(53940, 10)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [11]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [12]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [17]:
df["color"].value_counts()

color
G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: count, dtype: int64

In [18]:
df["color"].unique()

['E', 'I', 'J', 'H', 'F', 'G', 'D']
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

In [20]:
df["cut"].nunique()

5

In [21]:
df["cut"].value_counts(normalize= True)

cut
Ideal        0.399537
Premium      0.255673
Very Good    0.223990
Good         0.090953
Fair         0.029848
Name: proportion, dtype: float64

---
**Завдання 1:** Оцінити середню вартість діаманта за категоріями чистоти (clarity) \
**Інструмент для вирішення:**  groupby та agg та agg function

In [31]:
df.groupby("clarity")["price"].agg([np.mean, "max", "min"])

C:\Users\Daryna\AppData\Local\Temp\ipykernel_22072\1727795353.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("clarity")["price"].agg([np.mean, "max", "min"])
C:\Users\Daryna\AppData\Local\Temp\ipykernel_22072\1727795353.py:1: FutureWarning: The provided callable <function mean at 0x0000020C1031A980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby("clarity")["price"].agg([np.mean, "max", "min"])

                mean    max  min
clarity
IF       2864.839106  18806  369
VVS1     2523.114637  18777  336
VVS2     3283.737071  18768  336
VS1      3839.455391  18795  327
VS2      3924.989395  18823  334
SI1      3996.001148  18818  326
SI2      5063.028606  18804  326
I1       3924.168691  18531  345

---
**Завдання 2:** Виявити дешеві діаманти \
**Інструменти:** loc, isin, bool mask \

Дешевий це: carat > 1.2, color = "D" або "E", price < 2000

In [ ]:
df[(df["color"].isin(["D", "E"])) & (df["carat"] > 1.2) & (df["price"] < 2000)]

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

---
**Завдання 3:** Знайди 10 найдорожчих діамантів у кожній категорії кольору.

In [ ]:
df.groupby("color")['price'].agg(np.max).reset_index().sort_values("price", ascending = False).head(10)

C:\Users\Daryna\AppData\Local\Temp\ipykernel_22072\2894783692.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("color")['price'].agg(np.max).reset_index().sort_values("price", ascending = False).head(10)
C:\Users\Daryna\AppData\Local\Temp\ipykernel_22072\2894783692.py:1: FutureWarning: The provided callable <function max at 0x0000020C10319E80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("color")['price'].agg(np.max).reset_index().sort_values("price", ascending = False).head(10)

  color  price
5     I  18823
3     G  18818
4     H  18803
2     F  18791
1     E  18731
6     J  18710
0     D  18693

---
**Завдання 4:** Знайти середню ціну діамантів різних категорій

In [46]:
df.groupby("clarity")['price'].agg("mean").round(2)

C:\Users\Daryna\AppData\Local\Temp\ipykernel_22072\384457925.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("clarity")['price'].agg("mean").round(2)

clarity
IF      2864.84
VVS1    2523.11
VVS2    3283.74
VS1     3839.46
VS2     3924.99
SI1     3996.00
SI2     5063.03
I1      3924.17
Name: price, dtype: float64

---
**Завдання 5:** Порахуйте, на скільки % дорожчі діаманти кольору D порівняно з кольором G

In [ ]:
# приклад корреляції
df.corr(numeric_only=True)["price"].sort_values(ascending=False)